.nav__bg-color {
     background-image: white;
     border: 6px solid RGB(254, 109, 93);
}

.footer__bg-color {
    background: url('../img/footer-img.png') no-repeat center center/cover ;
    height: 160px;
}

.dropdown__color {
   
    background-color: white!important;
}
 

ul.navbar-nav{color:black!important;}

.dropdown-item, .text-color{
    color: black;
    font-weight: 900;
}


.nav-link {
    color: black;
    font-size: 20px;
    font-weight: 900;
           
}

a.nav-link:hover {
    border-bottom: 3px solid RGB(254, 109, 93);
  } 

  
  .dropdown-item:hover {
    color: rgb(155, 155, 223);
}