@import "sizes";
/*nav*/
.nav__right {
    justify-content: flex-end;
    
}

a.nav-link {
    padding-left: 20px;
    
}

@media only screen and (max-width: 990px) {
    button.navbar-toggler {
        background-color: white!important;
    }
}

/*body*/

.text__centrar{
    text-align: center;
}

.img__width {
    width: 100%;
}



.Titulo__margin { 
    margin: 100px;
    padding: 0;
}

.texto__local--font {
    font-size: $small+2;  /*operacion de suma*/
    margin-top: 100px;
    margin-right: 50px;
    
}  

/*index*/

.img--fixed {
    background: url('../img/index-img.jpeg') no-repeat center center/cover;
    background-attachment: fixed;
    
    position: sticky;
    height: 500px;
}

@media only screen and (max-width: 768px) {
    .img--fixed {
        height: 300px;
    }
}

.index--grids {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.index--grids h3 {
    text-align: center;
}
/* CONTACTO*/

.contacto {
    text-align: center;
    height: 300px;
    
        
}

.contactoH1 {
    margin: 100px 0;
    border-bottom: 1px solid grey;
    padding-bottom: 100px;
}
.contacto h3 {
    margin-bottom: 50px;
}
/*ICONOS REDES SOCIALES*/

.fab,
.far {
    font-size: $xLarge+8;
    color: black;
    padding-right: 30px;    
    padding-left: 30px;
}

.fab:hover {
    color: blue;
    font-size: $xLarge+10;
}

.far:hover {
    color: blue;
    font-size: $xLarge+10;
}

.fa-whatsapp:hover {
    color: rgb(30, 161, 30)!important;
}
/*footer*/
.footer__centrar{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    position: relative;
    bottom: 20px;
    left: 200px;
}
@media only screen and (max-width: 768px) {
    .footer__centrar {
        left: 0px
}
}
.btn-primary {
    margin: 20px;
}


.copyright{
    margin-top: 10px;
    margin-bottom: -5px;
}
.copyright a {
    text-decoration: none;
}