@import "sizes";
/*nav*/
.nav__right {
    justify-content: flex-end;
    
}

a.nav-link {
    padding-left: 20px;
    
}

@media only screen and (max-width: 990px) {
    button.navbar-toggler {
        background-color: white!important;
    }
}

/*body*/

.text__centrar{
    text-align: center;
}

.img__width {
    width: 100%;
}



.Titulo__margin { 
    margin: 40px;
    padding: 0;
}

.texto__local--font {
    font-size: $small+2;  /*operacion de suma*/
    margin-top: 100px;
    margin-right: 50px;
    
}  

/*index*/

.img--fixed {
    background: url('../img/fondo-cajas2.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    
    position: sticky;
    height: 500px;
}

.index--grids {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.index--grids h3 {
    text-align: center;
}
/*ICONOS REDES SOCIALES*/

.fab{
    font-size: $xLarge+8;
    color: white;
    padding-right: 30px;    
    padding-left: 30px;
}

.fab:hover {
    color: #e1fbd6;
    font-size: $xLarge+10;
}
/*footer*/
.footer__centrar{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.btn-primary {
    margin: 20px;
}


.copyright{
    margin-top: 20px;
}
 